@import "../components/toolProps/ShapesProps.scss";
@import "../components/ui/DoubleRange.scss";
@import "../components/MouseFollower.scss";
@import "../components/ui/Checkbox.scss";
@import "../components/ui/DropMenu.scss";
@import "../components/ui/Counter.scss";
@import "../components/ui/Color.scss";
@import "../components/Settings.scss";
@import "./Media.scss";
@import "./Reset.scss";
@import "./Tools.scss";
@import "../App.scss";

.checked {
  background: url("../images/check.svg") center center no-repeat;
  background-size: 80%;
}

.warning {
  border-radius: 10px;
  margin-top: 5px;
  padding: 3px 0 3px 0;
  display: flex;
  color: rgb(255, 206, 206);
  font-size: 12px;
  width: 100%;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  flex-direction: column;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.toolname {
  margin-top: 10px;
  letter-spacing: 4px;
  display: flex;
  color: white;
  width: 100%;

  font-size: 14px;
  margin-bottom: 5px;
  text-shadow: 0 0 10px rgb(161, 161, 220);
  filter: brightness(200%);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
