@import "../components/Settings.scss";
@import "../components/ui/Counter.scss";
@import "../components/ui/Checkbox.scss";
@import "../components/ui/Color.scss";
// @import "../components/Settings.scss";
// @import "../components/Settings.scss";
@import "../components/ui/DoubleRange.scss";
@import "../components/ui/DropMenu.scss";
@import "./Reset.scss";
@import "./Tools.scss";
@import "../App.scss";

.down {
  background: url("../images/down.svg") center center no-repeat;
  background-size: 100%;
}

.right {
  background: url("../images/right.svg") center center no-repeat;
  background-size: 100%;
}

.up {
  background: url("../images/up.svg") center center no-repeat;
  background-size: 100%;
}

.checked {
  background: url("../images/check.svg") center center no-repeat;
  background-size: 80%;
}
