@media (min-width: 1000px) {
}

@media (min-width: 768px) and (max-width: 1000px) {
  .tool {
    width: 40px !important;
    height: 40px !important;
  }

  .settings_toolbar {
    height: 80px;
  }
}

@media (max-width: 768px) {
  .tool {
    width: 40px !important;
    height: 40px !important;
  }

  .settings_toolbar {
    height: 80px;
  }
}
