@import "./Variables.scss";

.brush {
  background: url("../images/brush.svg");
  background-size: 65% !important;
}

.circle {
  background: url("../images/circle.svg");
}

.eraser {
  background: url("../images/eraser.svg");
}

.line {
  background: url("../images/line.svg");
}

.rect {
  background: url("../images/rect.svg");
}

.shapes {
  background: url("../images/shapes.svg");
}

.undo {
  background: url("../images/undo.svg");
}

.redo {
  background: url("../images/redo.svg");
}

.clean {
  background: url("../images/clean.svg");
  background-size: 75% !important;
}

.settings {
  background: url("../images/settings.svg");
}

.move {
  background: url("../images/move.svg");
}

.tool {
  @media (min-width: 1000px) {
    width: calc(($toolbar_height + 20px) / 2);
    height: calc(($toolbar_height + 20px) / 2);
  }

  @media (min-width: 768px) and (max-width: 1000px) {
    width: calc($toolbar_height / 2);
    height: calc($toolbar_height / 2);
  }

  @media (max-width: 768px) {
    width: calc($toolbar_height / 2);
    height: calc($toolbar_height / 2);
  }

  background-size: $tool_size;
  background-repeat: no-repeat;
  background-position: center center;
  scale: 0.9;
  border-radius: 8px;
  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      backdrop-filter: brightness(110%);
    }
  }

  @media (hover: none) {
    &:active {
      backdrop-filter: brightness(110%);
    }
  }
}
