$settings_width: 250px;
$settings_padding: 50px;
$settings_height: calc(100vh - $settings_padding * 2);
$properties_gap: 10px;
$font_size: 14px;
$font_color: white;
$b-radius: 20px;
$shadow_is: 0 0 20px -5px black;
// $bg_is: lightgray;

$tool_size: 60%;
$toolbar_width: $settings_width - $settings_padding;
$toolbar_bg: rgb(63, 59, 58);
$toolbar_height: 80px;

$canvas_shell_width: calc(100vw - $toolbar_width);

// counter variables
$counter_text_width: 186px;
$counter_height: 25px;
$counter_padding: 5px;

// color variables
$color_height: 25px;
$color_padding: 5px;
$color_arrow_size: 18px;

// checkbox variables
$checkbox_height: 25px;
$checkbox_padding: 5px;
$checkbox_box_size: 16px;

// doubleranges variables
$doublerange_height: 25px;
$doublerange_padding: 15px;
$doublerange_track_height: 4px;
$doublerange_track_bradius: 1px;

// $thumb_height: 8px;
// $thumb_width: 4px;

$thumb_height: 12px;
$thumb_width: 12px;

// shapes variables
$choose_height: calc($toolbar_height / 2);
$shapes_gap: 3px;

// dropdown variables
$dropdown_height: 25px;
