$settings_width: 200px;
$toolbar_height: 80px;
$properties_gap: 2px;
$tool_size: 60%;
$font_size: 14px;
$font_color: white;

// counter variables
$counter_text_width: 135px;
$counter_height: 25px;
$counter_padding: 5px;

// color variables
$color_height: 25px;
$color_padding: 5px;
$color_arrow_size: 18px;

// checkbox variables
$checkbox_height: 25px;
$checkbox_padding: 5px;
$checkbox_box_size: 16px;

// doubleranges variables
$doublerange_height: 25px;
$doublerange_padding: 30px;
$doublerange_track_height: 4px;
$doublerange_track_bradius: 1px;
$thumb_height: 8px;
$thumb_width: 4px;
