@import "../styles/Variables.scss";

.settings_block {
  position: relative;
  border-radius: $b-radius;
  overflow: hidden;
  background-color: $toolbar_bg;
}

.settings_toolbar {
  height: $toolbar_height;
  display: flex;
  flex-wrap: wrap;
}

.bar {
  // max-height: calc($settings_height - $toolbar_height);
  // min-height: $toolbar_height;
  // height: 100vh;
  // background-color: red;

  width: 100%;
  display: flex;
}

.settings_properties {
  padding-top: $properties_gap;
  // max-height: calc($settings_height - $toolbar_height);
  // min-height: $toolbar_height;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  // background-color: $toolbar_bg;
  // margin-top: 5px;
  // position: relative;
  display: flex;
  flex-direction: column;
  .simplebar-scrollbar {
    &:before {
      margin-left: 4px;
      width: 3px;
      background-color: rgba(255, 255, 255, 1);
    }
  }

  .simplebar-visible {
    &:before {
      opacity: 0.8 !important;
    }
  }
}

.tool_active {
  background-color: rgba(255, 255, 255, 0.2) !important;
}
