@import "../styles/Variables.scss";

.settings_block {
  position: absolute;

  background-color: $settings_color;
  box-shadow: 0 0 0 0 rgba(47, 199, 47, 0.732);
  width: 250px;
  transition: right 0.3s ease-out;

  // max-height: 1000px;
  min-height: 200px;
  right: 0;

  display: flex;
  flex-direction: column;
  backdrop-filter: blur(4px) contrast(50%);

  @media (min-width: 1000px) {
    height: calc(100vh - 100px);
    border-radius: 10px;
    margin-top: 50px;
    margin-right: 20px;
    .selector {
      display: none;
    }
  }

  @media (min-width: 768px) and (max-width: 1000px) {
    border-radius: 0px;
    margin-top: 0px;
    margin-right: 0px;
    height: 100%;
    width: 200px;
    .selector {
      display: block;
    }
  }

  @media (max-width: 768px) {
    border-radius: 0px;
    margin-top: 0px;
    margin-right: 0px;
    height: 100%;
    width: 200px;
    .selector {
      display: block;
    }
  }
}

.settings_toolbar {
  height: $toolbar_height;
  display: flex;
  flex-wrap: wrap;
}

.settings_properties {
  overflow: hidden;
  height: 100%;
  width: 100%;
  .simplebar-scrollbar {
    &:before {
      margin-left: 4px;
      width: 2px;
      background-color: rgba(255, 255, 255, 1);
    }
  }

  .simplebar-visible {
    &:before {
      opacity: 0.8 !important;
    }
  }
}

.tool_active {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.selector {
  transition: rotate 1s;
  position: absolute;
  left: -25px;
  top: 5px;
  width: 25px;
  filter: brightness(50%);
  height: 25px;
  @media (hover: hover) {
    &:hover {
      cursor: pointer;
    }
  }
}

.bar {
  @media (min-width: 1000px) {
    padding-top: 25px;
  }

  @media (min-width: 768px) and (max-width: 1000px) {
    padding-top: 0px;
  }

  @media (max-width: 768px) {
    padding-top: 0px;
  }
}

.download {
  padding: 5px;
  font-size: 14px;
  color: white;
  background-color: transparent;
  border: 1px dashed;
  width: 100%;
  margin-top: 4px;
  border-radius: 8px;
  &:hover {
    cursor: pointer;
  }
}
