@import "./styles/Variables.scss";

.app {
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  display: flex;
}

.app_canvas {
  width: calc(100vw - $settings_width);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: $bg_is;
  canvas {
    // background-color: white;
    background-color: $toolbar_bg;
    border-radius: $b-radius;
    box-shadow: $shadow_is;
  }
}

.app_settings {
  width: $settings_width;
  height: 100%;
  padding: $settings_padding $settings_padding $settings_padding 0;
  background-color: $bg_is;
  overflow: hidden;
}
