@import "../../styles/Variables.scss";

.color {
  .react-colorful {
    height: 100%;
    width: 100%;
  }

  .react-colorful__saturation {
    // border-radius: 0;
    // border-radius: 5px 5px 0 0;
  }

  .react-colorful__hue {
    height: 14px;
  }

  .react-colorful__alpha {
    // border-radius: 0;
    height: 14px;
    // border-radius: ;
    overflow: hidden;
  }

  .react-colorful__saturation-pointer {
    width: 10px;
    box-shadow: 0 0 2px black;

    height: 10px;
  }

  .react-colorful__hue-pointer {
    width: 2px;
    border: 1px solid white;
    height: 100%;
    border-radius: 0;
    box-shadow: 0 0 2px black;
  }

  .react-colorful__alpha-pointer {
    width: 2px;
    border: 1px solid white;
    box-shadow: 0 0 2px black;
    border-radius: 0;
    height: 100%;
  }
}

.color_menu {
  width: 100%;
  height: $counter_height;
  padding: 0 $color_padding 0 $color_padding;
  display: flex;
  align-items: center;
  color: $font_color;
  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.color_text {
  width: calc(100% - $counter_height - $counter_padding * 2);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: $font_size;
}

.color_dir {
  width: $color_arrow_size;
  height: $color_arrow_size;
  transition: rotate 0.3s;
  background: url("../../images/right.svg") center center no-repeat;
  background-size: 100%;
}

.color_picker {
  overflow: hidden;
  transition: 0.2s linear;
  padding: 6px 10px 10px 10px;
  // background-color: red;
  width: 100%;
  // height: 150px;
}
