@import "../../styles/Variables.scss";

.dropdown {
  width: 100%;
  display: flex;
  flex-direction: column;
  // background-color: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  color: white;
  font-size: 12px;
  &:hover {
    cursor: pointer;
  }
}

.dropdown_menu {
  // height: $dropdown_height;
  height: 100%;
  font-size: 14px;
  padding: 0 $counter_padding 0 $counter_padding;
  // background-color: red;
  display: flex;
  align-items: center;
  span {
    margin-left: auto;
  }
  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.dropdown_content {
  overflow: hidden;
  transition: height 0.2s linear;
}

.dropdown_text {
  // background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $dropdown_height;
}

.dropdown_item {
  margin-top: 2px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: gray;
  &.active {
    // background-color: red;
    color: white;
  }
}
